@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg: #fff;
  --textColor: #181818;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* custom styles */

/* SWITCH */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #6f6f6f;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #ffc739;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #ce914f;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
  width: 2em;
  height: 2em;
  bottom: 0;
}

@layer utilities {
  /* layouts */
  .padding-container {
    @apply px-4 md:px-12 2xl:px-0;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-around {
    @apply flex justify-around items-center;
  }

  .flex-evenly {
    @apply flex justify-evenly items-center;
  }

  .flex-end {
    @apply flex justify-end items-center;
  }

  .flex-evenly-start {
    @apply flex justify-evenly items-start;
  }

  /* fonts */
  .mobile-navLink {
    @apply uppercase text-2xl;
  }

  .font-link {
    @apply capitalize font-normal mr-4 text-lg;
  }

  .font-h1 {
    @apply text-3xl lg:text-5xl lg:leading-[3.9rem] xl:text-6xl xl:leading-[4.87rem] font-medium;
  }

  .font-h2 {
    @apply text-xl lg:text-2xl xl:text-4xl font-semibold;
  }

  .font-h3 {
    @apply text-xl lg:text-2xl xl:text-3xl font-semibold;
  }

  .font-p {
    @apply text-lg font-normal;
  }

  .clip-text {
    @apply inline-block text-transparent bg-clip-text;
  }

  /* bg gradients */
  .bg-emerald {
    @apply bg-gradient-to-r from-emerald-500 to-lime-600;
  }

  .bg-hyper {
    @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500;
  }

  /* transitions */
  .custom-transition {
    @apply transition-all duration-300 ease-out;
  }

  /* general */
  .burger-line {
    @apply bg-zinc-100 dark:bg-zinc-600 block rounded-sm transition-all duration-300 ease-out;
  }

  .box-shadow {
    @apply shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)];
  }
}
